# Next
/apps/web/out
/apps/web/next-env.d.ts
/apps/web/.next

# Node
/apps/web/node_modules

# Playwright
/apps/web/test-results/
/apps/web/playwright-report/
/apps/web/blob-report/
/apps/web/playwright/.cache/

# Chakra
/apps/web/theme/

# Storybook
/apps/web/*storybook.log
/apps/web/storybook-static

# Front end misc
/apps/web/out
/apps/web/.tmp

# Python
__pycache__/
pytest_cache/
.pytest_cache/
mypy_cache/
*.py[cod]
bin/
build/
lib/
.coverage
coverage.xml

# Virtual Environment
venv
.venv

# Mac
.DS_Store

# Sensitive config
.env.development.local
.env
.env.local
.env.enc

# IDEs
.vscode/**
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json
