services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - 3000:3000
    depends_on:
      - backend
    volumes:
      - .:/app:rw,delegated # Mount after dependencies are installed
      - /app/node_modules # This excludes the node_modules from being overwritten
      - nextjs_cache:/app/.next
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:3000 || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 3m

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    env_file:
      - .env
    environment:
      - PYTHONPATH=/backend:/
    ports:
      - 8000:8000
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./backend:/backend
      - ./backend/etl/startup.sh:/startup.sh
    command: bash /startup.sh
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8000/api/health || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  db_test:
    image: postgis-custom
    container_name: my_postgis_db_test
    restart: always
    env_file:
      - .env
    volumes:
      - ./backend/database:/docker-entrypoint-initdb.d # Mount the SQL scripts directory
    ports:
      - 5433:5432
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s
    depends_on:
      - db
  db:
    image: postgis-custom
    build:
      context: ./backend/database
      dockerfile: Dockerfile
    container_name: my_postgis_db
    restart: always
    env_file:
      - .env
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

volumes:
  db-data:
  nextjs_cache:
