/* TODO: line up property values with ./theme.ts OR add automation that outputs design tokens for both CSS (SCSS?) and TS */
.marker {
  /* Pin */
  width: 26.2px;
  height: 41px;
  background-image: url("/marker.svg");
  background-size: cover;
  border-radius: 0;
}

/* TODO: CSS rules unused after this point, but can be manually referenced for cards; clean up if no longer needed for reference */
.soft-story {
  /* Pin */
  width: 11px;
  height: 11px;
  background-size: cover;

  box-sizing: border-box;
  position: absolute;
  /* gray/400 */
  background-color: #a0aec0;
  border: 1px solid #ffffff;
  border-radius: 50%;
}

.key {
  /* Key */
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.key-soft-story {
  /* gray/900 */
  background-color: #171923;
}

.key-seismic {
  /* orange/300 */
  background-color: #f6ad55;
}

.key-tsunami {
  /* pink/400 */
  background-color: #ed64a6;
}
